@charset "UTF-8";
.imgSection,
.tutoriales {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
}

header div {
  background-image: url(../assets/img/abc.jpg);
}

header ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

header ul li {
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.colorNav {
  color: #ff9000;
}

a {
  text-decoration: none;
}

.uno {
  text-align: center;
  padding-top: 15px;
}

.dos {
  text-align: center;
  padding-bottom: 15px;
}

.polPrivColor {
  color: rgb(240, 74, 140);
}

.imgBack {
  background-image: url(../assets/img/abc.jpg);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cuatro {
  text-align: center;
  padding-bottom: 30px;
}

.centro {
  margin: 0 auto;
  padding-bottom: 40px;
}

.suscripcion {
  margin: 0px 0px 10px 0px;
  font-size: 20px;
}

.btn-mod {
  color: white;
  background-color: rgb(240, 74, 140);
  border-color: rgb(240, 74, 140);
}
.btn-mod:hover {
  background-color: #ec1b6e;
}

i {
  color: #ff9000;
  font-size: 30px;
  position: fixed;
  right: 15px;
  bottom: 5px;
}

.emogi:hover::after {
  content: "☺";
}

p::selection {
  background-color: rgb(240, 74, 140);
  color: white;
}

footer {
  text-align: center;
  padding: 15px;
  font-size: small;
  margin-top: 40px;
  background-image: url(../assets/img/abc.jpg);
}

h3 {
  text-align: center;
  margin: 30px 30px 13px 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.letraTitulos {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 3.28px;
}

.letraSubtitulos {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 17px;
}

.letraParrafos {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 17px;
}

.tamanoChiara img {
  width: 35%;
}

.tamanoImg img {
  width: 270px;
  height: 310px;
}

.fotos-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 20px 0 20px;
}

.tamano-fotohome {
  background-image: url(../assets/img/mgparafondoo.png);
  height: 450px;
  width: 100%;
  margin-top: 15px;
}

iframe {
  border: 0;
  margin: 1rem;
}

.suscribite {
  padding-top: 110px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.transformSus:hover {
  transform: scale(2);
  transition: all 2s;
}

.recibiNovedades {
  padding-top: 15px;
  padding-bottom: 80px;
}

.bot-home {
  width: 30%;
  align-content: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  margin: 60px 40px;
  border: 6px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin: 110px auto 0px auto;
}

.subrayado {
  text-decoration: underline;
}

.row-mod {
  display: block;
  padding: 5px;
}

.introAbout p {
  text-align: left;
}

.introAbout img {
  width: 19%;
}

.centroCarousel {
  margin: 0 auto;
}

.margen-abajo {
  margin-bottom: 150px;
}

.carita {
  color: rgb(240, 74, 140);
  text-align: center;
  font-size: 200px;
}

.textPP {
  padding-top: 3%;
  padding-bottom: 5%;
}

.principal {
  background: #F1F1F1;
}

.principal .foto-principal {
  float: left;
  font-size: 0;
  display: block;
}

.foto-principal {
  width: 70%;
}

.panel-principal {
  float: left;
  width: 30%;
}

.titular-principal {
  font-size: 32px;
  margin: 8px 15px 30px 40px;
}

.parrafo {
  font-size: 20px;
  margin: 0px 0px 20px 40px;
}

.bg-color {
  background-color: #F1F1F1;
}

.margen-tendencia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto 0px auto;
}

.margen-extra {
  margin-top: 55px;
}

.titulo-tendencia h4 {
  float: left;
  font-size: 0;
  display: block;
}

.margen-tendencia-dos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 26px 40px auto;
}

.margen-tendencia-tres {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 40px 26px;
}

.displayy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.carrousel {
  display: flex;
  width: 48%;
  margin: auto;
}

@media print {
  nav {
    display: none;
  }
}
@media screen and (max-width: 1220px) {
  .margen-tendencia {
    margin: auto;
  }
  .margen-tendencia-dos {
    margin: auto;
  }
  .margen-tendencia-tres {
    margin: auto;
  }
  .panel-principal {
    float: none;
    width: 100%;
  }
  .foto-principal {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  header ul {
    flex-direction: column;
  }
  .tutoriales {
    flex-wrap: wrap;
  }
  .tamano-fotohome {
    display: none;
  }
  .box {
    width: 300px;
    height: 350px;
  }
  .tamanoImgTab {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .tamanoImgTab img {
    width: 25%;
  }
}
@media screen and (max-width: 420px) {
  .tutoriales {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
