* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
header ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
header ul li {
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.margen {
  margin: 15px 30px 15px 30px;
}

.cuatro {
  text-align: center;
  padding-bottom: 30px;
}
.suscripcion {
  margin: 0px 0px 10px 0px;
  font-size: 20px;
}
.recibiNovedades {
  padding-top: 15px;
  padding-bottom: 80px;
}

.letraNormal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
}

header nav ul li {
  color: black;
}
.imgBack {
  background-image: url(../assets/img/imgfondo.jpg);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tamanoChiara img {
  width: 35%;
}
.tamanoImg img {
  width: 19%;
}
.letraSubtitulosSmall {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
iframe{
  border: 0;
  margin: 1rem;
}

.suscribite {
  padding-top: 110px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.introAbout p {
  text-align: left;
}
.introAbout img {
  width: 19%;
}
.yo p {
  text-align: right;
  padding: 150px 150px 150px 100px;
}
.yo img {
  width: 35%;
  padding-left: 100px;
}
#gridFotosIntro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "imguno imgdos"
    "imgtres imgcuatro";
}
.gridsFotosIntroTab {
  display: none;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "imguno"
    "imgdos"
    "imgtres"
    "imgcuatro";
}
.imguno {
  grid-area: imguno;
  width: 100%;
}
.imgdos {
  grid-area: imgdos;
  width: 100%;
}
.imgtres {
  grid-area: imgtres;
  width: 100%;
}
.imgcuatro {
  grid-area: imgcuatro;
  width: 100%;
}

#introTablet {
  display: none;
}
.yoMobile{
  display: none;
}

@media screen and (max-width: 768px) {
  header ul {
    flex-direction: column;
  }
  .imgFragancias {
    display: none;
  }
  .imgReviews {
    display: none;
  }
  .tutoriales {
    flex-wrap: wrap;
  }
  .tutoDos {
    display: none;
  }
  #introTablet {
    display: none;
  }
  #gridsFotosIntro {
    display: none;
  }
  #gridFotosIntro {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "imguno imgdos"
      "imgtres imgcuatro";
  }
  .gridsFotosIntroTab {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "imguno"
      "imgdos"
      "imgtres"
      "imgcuatro";
  }
  .yo p {
    padding: 0;
    text-align: center;
  }
  .yo img {
    width: 35%;
    padding: 0%;
  }
}

@media screen and (max-width: 420px) {
  .imgFragancias {
    display: none;
  }
  .imgReviews {
    display: none;
  }
  .imgHair {
    display: none;
  }
  .imgSkin {
    display: none;
  }
  .tutoriales {
    flex-wrap: wrap;
  }
  .tutoTres {
    display: none;
  }
  #introDesktop {
    display: none;
  }
  .introTablet {
    display: flex;
  }
  .yo p {
    padding: 0;
    text-align: center;
  }
  .yo img {
    display: none;
  }
  .yoMobile{
    display: flex;
    width: 5%;
    padding: 5px;
    justify-content: center;
  }
}

/* animaciones transform y transiciones */

.transformSus:hover {
  transform: scale(2);
  transition: all 2s;
}

.containerDiv {
  margin: 0 auto;
  padding: 0;
}
.centro {
  margin: 0 auto;
  padding-bottom: 40px;
}
.centroCarousel {
  margin: 0 auto;
}

@media print {
  nav {
    display: none;
  }
}
.textPP{
  padding-bottom: 5%;
}
