.introAbout p {
  text-align: left;
}
.introAbout img {
  width: 19%;
}
.centroCarousel {
  margin: 0 auto;
}
.margen-abajo {
  margin-bottom: 150px;
}
.carita {
  color: $color-selection;
  text-align: center;
  font-size: 200px;
}
.principal-about {
  background: #f1f1f1;
  width: 90%;
}
.foto-principal-about {
  float: left;
  font-size: 0;
  display: block;
}
.foto-principal-about {
  width: 62%;
}