.introAbout p {
  text-align: left;
}
.introAbout img {
  width: 19%;
}
.centroCarousel {
  margin: 0 auto;
}
.margen-abajo {
  margin-bottom: 150px;
}
.carita {
  color: $color-selection;
  text-align: center;
  font-size: 200px;
}
