  .introAbout p {
    text-align: left;
  }
  .introAbout img {
    width: 19%;
  }
  .yoMobile{
    display: none;
  }
  .yo p {
    text-align: right;
    padding: 150px 150px 150px 100px;
  }
  .yo img {
    width: 35%;
    padding-left: 100px;
  }
  .centroCarousel {
    margin: 0 auto;
  }
  .margen-abajo{
    margin-bottom: 150px;
  }
  .carita{
    color: $color-selection;
    text-align: center;
    font-size: 200px;
  }