@media print {
  nav {
    display: none;
  }
}

@media screen and (max-width: 1220px) {
 .foto-home{
  margin: 15px;
 }
  .margen-tendencia {
    margin: auto;
  }
  .margen-tendencia-dos {
    margin: 30px auto 30px auto;
  }
  .margen-tendencia-tres {
    margin: auto;
  }
  .panel-principal {
    float: none;
    width: 100%;
  }
  .foto-principal {
    width: 100%;
  }
  .parrafo {
    margin: auto;
  }
  .foto-principal-about {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header ul {
    flex-direction: column;
  }
  .tutoriales {
    flex-wrap: wrap;
  }
  .tamano-fotohome {
    display: none;
  }
  .box {
    width: 300px;
    height: 350px;
  }
  .tamanoImgTab {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .tamanoImgTab img {
    width: 25%;
  }
}

@media screen and (max-width: 420px) {
  .tutoriales {
    flex-wrap: wrap;
  }
}
