@mixin pieDePag {
  text-align: center;
  padding: 15px;
  font-size: small;
  margin-top: 40px;
  background-image: url(../assets/img/abc.jpg);
}

@mixin subtitulosH3 {
  text-align: center;
  margin: 30px 30px 13px 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 35px;
}
